<div class="max-w-6xl mx-auto p-6 bg-black border rounded">
    <form class="space-y-4">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-6 gap-6">
        <div class="select1_wrapper" data-select2-id="32">
            <div class="" data-select2-id="31">
                <label>Choose Car Type</label>
                <div class="select1_inner" data-select2-id="30">
                    <select class="select2 select select2-hidden-accessible" style="width: 100%" data-select2-id="1" tabindex="-1" aria-hidden="true">
                        <option value="0" data-select2-id="3">4 seater</option>
                        <option value="1" data-select2-id="33">8 seater</option>
                        <option value="2" data-select2-id="34">12 seater</option>
                    </select><span class="select2 select2-container select2-container--default select2-container--below" dir="ltr" data-select2-id="2" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-99fh-container"><span class="select2-selection__rendered" id="select2-99fh-container" role="textbox" aria-readonly="true" title="All">All</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                </div>
            </div>
        </div>
        <div class="" data-select2-id="22">
            <div class="select1_wrapper" data-select2-id="21">
                <label>Pick Up Location</label>
                <div class="select1_inner" data-select2-id="20">
                    <select class="select2 select select2-hidden-accessible" style="width: 100%" data-select2-id="4" tabindex="-1" aria-hidden="true">
                        <option value="0" data-select2-id="6">Pick Up Location</option>
                        <option value="1" data-select2-id="25">Dubai</option>
                        <option value="2" data-select2-id="26">Abu Dhabi</option>
                        <option value="3" data-select2-id="27">Sharjah</option>
                        <option value="4" data-select2-id="28">Alain</option>
                    </select><span class="select2 select2-container select2-container--default select2-container--below" dir="ltr" data-select2-id="5" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-nbeg-container"><span class="select2-selection__rendered" id="select2-nbeg-container" role="textbox" aria-readonly="true" title="Pick Up Location">Pick Up Location</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                </div>
            </div>
        </div>
        <div class="">
            <div class="input1_wrapper">
                <label>Pick Up Date</label>
                <div class="input1_inner">
                    <input type="date" class="form-control input datepicker hasDatepicker" placeholder="Pick Up Date" required="" id="dp1732678213494">
                </div>
            </div>
        </div>
        <div class="">
            <div class="select1_wrapper">
                <label>Drop Off Location</label>
                <div class="select1_inner">
                    <select class="select2 select select2-hidden-accessible" style="width: 100%" data-select2-id="7" tabindex="-1" aria-hidden="true">
                        <option value="0" data-select2-id="9">Drop Off Location</option>
                        <option value="1">Alain</option>
                        <option value="2">Sharjah</option>
                        <option value="3">Abu Dhabi</option>
                        <option value="4">Dubai</option>
                    </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="8" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-8lm3-container"><span class="select2-selection__rendered" id="select2-8lm3-container" role="textbox" aria-readonly="true" title="Drop Off Location">Drop Off Location</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                </div>
            </div>
        </div>
        <div class="">
            <div class="input1_wrapper">
                <label>Return Date</label>
                <div class="input1_inner">
                    <input type="date" class="form-control input datepicker hasDatepicker" placeholder="Return Date" id="dp1732678213495">
                </div>
            </div>
        </div>
        <div class="">
            <button type="submit" class="booking-button">Rent Now</button>
        </div>
      </div>
    </form>
</div>


<!--<div class="container" data-select2-id="23">-->
<!--  <div class="row">-->
<!--    <div class="col-md-12 text-center mb-15">-->
<!--      <div class="section-subtitle">Rent Now</div>-->
<!--      <div class="section-title">Book Auto Rental</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="booking-inner clearfix">-->
<!--    <form action="#0" class="form1 brdr clearfix">-->
<!--      <div class="col2 c3" data-select2-id="22">-->
<!--        <div class="select1_wrapper" data-select2-id="21">-->
<!--          <label>Choose Car Type</label>-->
<!--          <div class="select1_inner" data-select2-id="20">-->
<!--            <select class="select2 select select2-hidden-accessible" style="width: 100%" data-select2-id="1" tabindex="-1" aria-hidden="true">-->
<!--              <option value="0" data-select2-id="3">Choose Car Type</option>-->
<!--              <option value="1" data-select2-id="25">All</option>-->
<!--              <option value="2" data-select2-id="26">Luxury Cars</option>-->
<!--              <option value="3" data-select2-id="27">Sport Cars</option>-->
<!--              <option value="4" data-select2-id="28">SUVs</option>-->
<!--              <option value="5" data-select2-id="29">Convertible</option>-->
<!--            </select><span class="select2 select2-container select2-container&#45;&#45;default select2-container&#45;&#45;above select2-container&#45;&#45;focus" dir="ltr" data-select2-id="2" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection&#45;&#45;single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-8b9e-container"><span class="select2-selection__rendered" id="select2-8b9e-container" role="textbox" aria-readonly="true" title="Choose Car Type">Choose Car Type</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col2 c4" data-select2-id="33">-->
<!--        <div class="select1_wrapper" data-select2-id="32">-->
<!--          <label>Pick Up Location</label>-->
<!--          <div class="select1_inner" data-select2-id="31">-->
<!--            <select class="select2 select select2-hidden-accessible" style="width: 100%" data-select2-id="4" tabindex="-1" aria-hidden="true">-->
<!--              <option value="0" data-select2-id="6">Pick Up Location</option>-->
<!--              <option value="1" data-select2-id="34">Dubai</option>-->
<!--              <option value="2" data-select2-id="35">Abu Dhabi</option>-->
<!--              <option value="3" data-select2-id="36">Sharjah</option>-->
<!--              <option value="4" data-select2-id="37">Alain</option>-->
<!--            </select><span class="select2 select2-container select2-container&#45;&#45;default select2-container&#45;&#45;above" dir="ltr" data-select2-id="5" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection&#45;&#45;single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-sud1-container"><span class="select2-selection__rendered" id="select2-sud1-container" role="textbox" aria-readonly="true" title="Pick Up Location">Pick Up Location</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col1 c1">-->
<!--        <div class="input1_wrapper">-->
<!--          <label>Pick Up Date</label>-->
<!--          <div class="input1_inner">-->
<!--            <input type="text" class="form-control input datepicker hasDatepicker" placeholder="Pick Up Date" required="" id="dp1732889030016">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col2 c5" data-select2-id="41">-->
<!--        <div class="select1_wrapper" data-select2-id="40">-->
<!--          <label>Drop Off Location</label>-->
<!--          <div class="select1_inner" data-select2-id="39">-->
<!--            <select class="select2 select select2-hidden-accessible" style="width: 100%" data-select2-id="7" tabindex="-1" aria-hidden="true">-->
<!--              <option value="0" data-select2-id="9">Drop Off Location</option>-->
<!--              <option value="1" data-select2-id="42">Alain</option>-->
<!--              <option value="2" data-select2-id="43">Sharjah</option>-->
<!--              <option value="3" data-select2-id="44">Abu Dhabi</option>-->
<!--              <option value="4" data-select2-id="45">Dubai</option>-->
<!--            </select><span class="select2 select2-container select2-container&#45;&#45;default select2-container&#45;&#45;below" dir="ltr" data-select2-id="8" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection&#45;&#45;single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-z2ko-container"><span class="select2-selection__rendered" id="select2-z2ko-container" role="textbox" aria-readonly="true" title="Drop Off Location">Drop Off Location</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col1 c2">-->
<!--        <div class="input1_wrapper">-->
<!--          <label>Return Date</label>-->
<!--          <div class="input1_inner">-->
<!--            <input type="text" class="form-control input datepicker hasDatepicker" placeholder="Return Date" id="dp1732889030017">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col3 c6">-->
<!--        <button type="submit" class="booking-button">Rent Now</button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
